**/obj*/
**/bin*/
*.orig
**/packages/
*.userprefs
*.apk
*.suo
StandardSeriesDemoXFormsSTD/.vs/
XamControls/.vs/
WeatherApp/.vs/
WeatherApp/eResources/
WeatherApp/WeatherApp/WeatherApp.iOS/
WeatherApp/OPENWEATHERMAP/
TeeChartXamarinAndroid/.vs/
Visamic/.vs/
Visamic/Visamic/bin
Visamic/Visamic/obj
*.keystore
TeeChartDemo/.vs/
AreaLineWithPointerSTD/.vs/
RotateTool/RotateTool/.vs/
RotateTool/.vs/
Accelerometer/.vs/
